body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  background-image: url('../public/fondo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}